#profile {
  background-color: rgb(103, 191, 231);
  border: 10px;
  padding: 10px;
}

#image {
  border:  2px double rgb(235, 8, 103);
  display:flex;
  flex-align: center;
  width: 60%;

}

img {
  width: 100%;
}




.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(235, 8, 103);
  height: 50px;
  padding: 20px;
  color: white;
}


